body {
  background-image: url("../images/fruit.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}

.total {
  margin: auto;
  width: 50%;
}

.jumbotron {
  background-image: url("../images/form.jpeg");
  margin: auto;
  margin-top: 25px;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  border-color: black;
}

.title {
  font-size: 200px;
}

.half-card .card-body {
  margin: auto;
  margin-top: 30px;
  width: 100%;
  border-radius: 25px;
}

div.card.half-card{
  width:50%;
  float:left;
}

.results {
  width: 100%;
}

.card-header {
  background-color: #483D8B;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
}

.card {
  margin: auto;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background-image: url("../images/form.jpeg");
  border-radius: 50px;
}

.form-group {
  margin: auto;
  color: white;
  width: 90%;
  padding-top: 10px;
}

.button {
  background-color: #FFFF00;
  border-style: outset;
  color: black;
  margin: 20px;
  text-align: center;
  width: 50%;
  font-size: 18px;
  font-weight: bold;
}

.button:hover {
  background: #00FF00
}

h1 {
  color: #fff;
  font-family: Writing, Helvetica, Arial, sans-serif;
  font-size: 150px;
  margin-bottom: 0;
}

.lead {
  color: #fff;
  font-size: 82px;
  font-family: Writing, Helvetica, Arial, sans-serif;
  border-top: 2.5px solid black;
}

.restaurants {
  font-family: Writing, Helvetica, Arial, sans-serif;
  float: left;
  color: white;
  font-size: 60px;
  border-bottom: 2.5px solid white;
}

.recipes {
  font-family: Writing, Helvetica, Arial, sans-serif;
  float: left;
  color: white;
  font-size: 60px;
  border-bottom: 2.5px solid white;
}

label {
  font-family: Writing, Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: yellow;
}

.countries {
  background-image: url("../images/white.jpeg");
  color: black;
  margin-bottom: 20px;
  border-bottom: 1.5px solid black;
  border-radius: 50px;

}

.links {
  font-family: Menu, Helvetica, Arial, sans-serif;
  font-size: 40px;
  color: black;
}

.cuisineButton {
  background-image: url("../images/wall.jpeg");
  margin: 5px;
  color: black;
  border-color: black;
  font-size: 18px;
  font-weight: bold;
}

.cuisineButton:hover {
  background: #FF0000;
  -webkit-transform: scale(1.1);
}

.reciperesponse{
  background-image: url("../images/white.jpeg");
  color: black;
  margin-bottom: 20px;
  border-bottom: 1.5px solid black;
  border-radius: 50px;
}

@font-face {
  font-family: Food;
  src: url("../images/food.ttf");
}

@font-face {
  font-family: Writing;
  src: url("../images/writing.otf");
}

@font-face {
  font-family: Menu;
  src: url("../images/bold.otf");
}
